<!DOCTYPE html>
<html ng-app="bestRestaurants">
  <head>
    <title>Best Restaurants</title>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="js/RestaurantsController.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container" ng-controller="RestaurantsCtrl">
      <div class="row" ng-show="restaurants.length">
        <!-- search section -->
        <div class="col-md-4">
          <h4>Search Restaurants</h4>
          <form class="form-inline" role="form">
            <div class="form-group">
              <input ng-model="query" type="text" class="form-control" id="restaurant-name" placeholder="Search">
            </div>
          </form>
        </div>
      </div>

      <!-- List of restaurants entered -->
      <div class="row">
        <div class="col-md-12">
          <h2 ng-show="restaurants.length && filtered.length">Restaurant List</h2>
          <h2 ng-show="restaurants.length && !filtered.length">No Match</h2>
          <table class="table table-striped table-responsive">
            <tr>
              <th>
                <a href="" ng-click="order('name')">Name</a>
                <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
              </th>
              <th>
                <a href="" ng-click="order('address')">Address</a>
                <span class="sortorder" ng-show="predicate === 'address'" ng-class="{reverse:reverse}"></span>
              </th>
              <th>
                <a href="" ng-click="order('cuisine')">Cuisine</a>
                <span class="sortorder" ng-show="predicate === 'cuisine'" ng-class="{reverse:reverse}"></span>
              </th>
              <th>
                <a href="" ng-click="order('restaurantDesc')">Description</a>
                <span class="sortorder" ng-show="predicate === 'restaurantDesc'" ng-class="{reverse:reverse}"></span>
              </th>
              <th>
                <a href="" ng-click="order('rating')">Rating(1 to 5 stars)</a>
                <span class="sortorder" ng-show="predicate === 'rating'" ng-class="{reverse:reverse}"></span>
              </th>
              <th>
                <a href="" ng-click="order('price')">Price Range($ to $$$)</a>
                <span class="sortorder" ng-show="predicate === 'price'" ng-class="{reverse:reverse}"></span>
              </th>
            </tr>
            <tr ng-repeat="item in filtered = ((restaurants | orderBy:predicate:reverse) | filter:query)">
              <td>
                <span ng-click="editing = true" ng-hide="editing">
                  {{item.name}}
                </span>
                <span class="form-group" ng-submit="editing = false" ng-show="editing">
                  <form class="form-inline" role="form">
                    <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name">
                    <button type="submit" class="btn btn-info btn-xs">Save</button>
                    <button type="submit" class="btn btn-danger btn-xs" ng-click="deleteRestaurant(item)">Delete Restaurant</button>
                  </form>
                </span>
              </td>
              <td>
                <span ng-click="editing = true" ng-hide="editing">
                  {{item.address}}
                </span>
                <span class="form-group" ng-submit="editing = false" ng-show="editing">
                  <form class="form-inline" role="form">
                    <input type="text" class="form-control input-sm" ng-model="item.address" placeholder="Name">
                  </form>
                </span>
              </td>
              <td>
                <span ng-click="editing = true" ng-hide="editing">
                  {{item.cuisine}}
                </span>
                <span class="form-group" ng-submit="editing = false" ng-show="editing">
                  <form class="form-inline" role="form">
                    <input type="text" class="form-control input-sm" ng-model="item.cuisine" placeholder="Name">
                  </form>
                </span>
              </td>
              <td>
                <span ng-click="editing = true" ng-hide="editing">
                  {{item.restaurantDesc}}
                </span>
                <span class="form-group" ng-submit="editing = false" ng-show="editing">
                  <form class="form-inline" role="form">
                    <input type="text" class="form-control input-sm" ng-model="item.restaurantDesc" placeholder="Name">
                  </form>
                </span>
              </td>
              <td>
                <span ng-click="editing = true" ng-hide="editing">
                  {{item.rating}}
                </span>
                <span class="form-group" ng-submit="editing = false" ng-show="editing">
                  <form class="form-inline" role="form">
                    <input type="text" class="form-control input-sm" ng-model="item.rating" placeholder="Name">
                  </form>
                </span>
              </td>
              <td>
                <span ng-click="editing = true" ng-hide="editing">
                  {{item.price}}
                </span>
                <span class="form-group" ng-submit="editing = false" ng-show="editing">
                  <form class="form-inline" role="form">
                    <input type="text" class="form-control input-sm" ng-model="item.price" placeholder="Name">
                  </form>
                </span>
              </td>
            <!-- <li ng-repeat="item in filtered = (restaurants | filter:query)">
                      <span ng-click="editing = true" ng-hide="editing">
                        {{item.name}} (click to edit)<br>
                        Address: {{item.address}} <br>
                        Cuisine: {{item.cuisine}} <br>
                        Description: {{item.restaurantDesc}} <br>
                        Rating: {{item.rating}} <br>
                        Price Range: {{item.price}}
                      </span>
                      <span class="form-group" ng-submit="editing = false" ng-show="editing">
                        <form class="form-inline" role="form">
                          <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name">
                          <input type="text" class="form-control input-sm" ng-model="item.address" placeholder="Address">
                          <input type="text" class="form-control input-sm" ng-model="item.cuisine" placeholder="Cuisine">
                          <input type="text" class="form-control input-sm" ng-model="item.restaurantDesc" placeholder="Description">
                          <input type="text" class="form-control input-sm" ng-model="item.rating" placeholder="Rating">
                          <input type="text" class="form-control input-sm" ng-model="item.price" placeholder="Price">
                          <button type="submit" class="btn btn-info btn-xs">Save</button>
                          <button type="submit" class="btn btn-danger btn-xs" ng-click="deleteRestaurant(item)">Delete</button>
                        </form>
                      </span>
                    </li>-->
            </tr>
          </table>
        </div>
      </div>

      <!-- enter new restaurants -->
      <div class="col-md-12">
        <h2>New Restaurant</h2>
        <form ng-submit="addRestaurant()" class="form-inline" role="form">
          <div class="form-group">
            <input type="text" ng-model="restaurantName" class="form-control" placeholder="Name" required>
          </div>
          <div class="form-group">
            <input type="text" ng-model="address" class="form-control" placeholder="Address" required>
          </div>
          <div class="form-group">
            <input type="text" ng-model="cuisineName" class="form-control" placeholder="Cuisine" required>
          </div>
          <div class="form-group">
            <input type="text" ng-model="restaurantDesc" class="form-control" placeholder="Description" required>
          </div>
          <select class="form-group" ng-model="rating" placeholder="Rating">
            <option value="" disabled selected>Rating</option>
            <option value = "&#9733;">&#9733;</option>
            <option value = "&#9733;&#9733;">&#9733;&#9733;</option>
            <option value = "&#9733;&#9733;&#9733;">&#9733;&#9733;&#9733;</option>
            <option value = "&#9733;&#9733;&#9733;&#9733;">&#9733;&#9733;&#9733;&#9733;</option>
            <option value = "&#9733;&#9733;&#9733;&#9733;&#9733;">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
          </select>
          <select class="form-group" ng-model="price" placeholder="Price Range">
            <option value="" disabled selected>Price Range</option>
            <option value = "$">$</option>
            <option value = "$$">$$</option>
            <option value = "$$$">$$$</option>
          </select>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
